<div class="header">
    
    <div class="header_fabrication_france_bleu"></div>
    <div class="header_fabrication_france_rouge"></div>
    <div class="header_fabrication_france_made_in_france">made in france</div>
    <div class="header_gauche" (click)="goToTheAcceuil()">
        <div class="header_gauche_image">
            <img class="header_gauche_image_kiposetou" src="./../../assets/images/LOGO_KIPOSETOU_pour_favicon1.png" alt="">
        </div>
        <div class="header_gauche_titre">
            KIPOSETOU MENUISERIE
        </div>
    </div>
    <div appClickStopPropagation  [ngClass]="{'header_menu-burger':true,'active':menuMobile==true}" (click)="afficheMenu()">
        <span class="header_menu-burger_bar-millieu"></span>
    </div>
    <div appClickStopPropagation [ngClass]="{'header_menu':true,'active':menuMobile==true}">
        <div  class="header_menu_items"><a [routerLink]="['/Accueil']" class="header_menu_items_link">Accueil</a> </div>
        <div class="header_menu_items"><a class="header_menu_items_link">A propos</a> </div>
        <div class="header_menu_items"><a class="header_menu_items_link">Nos produits</a></div>
        <div  appClickStopPropagation class="header_menu_items header_menu_items_realisation" (click)="nosRealisation()"><a class="header_menu_items_link">Nos réalisations</a>
            <div [ngClass]="{'header_menu_items_realisation_content':true, 'active':buttonRealisation==true}">
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Volets</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Fenêtres</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Portes</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Portails</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Pergolas</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Couvertines</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Appuis de Fenêtres Alu</a>
                <a appClickStopPropagation class="header_menu_items_realisation_content-onglet">Clôtures Alu/PVC</a>
            </div>
        </div>
        <div class="header_menu_items"><a class="header_menu_items_link">Espace pro</a> </div>
        <div class="header_menu_items"><a class="header_menu_items_link">Blog</a> </div>
        <div class="header_menu_items"><a class="header_menu_items_link">Contact</a> </div>
    </div>
    <div class="header_droite">
        <div class="header_droite_bouton header_droite_bouton_projet" (click)="goToTheDecrireProjet()">DÉCRIRE MON PROJET</div>
        <div class="header_droite_bouton header_droite_bouton_rappel"  (click)="goToTheEtreRappele()">ÊTRE RAPPELÉ</div>
    </div>
</div>