<div class="header">
    <div class="header_fabrication_france_bleu"></div>
    <div class="header_fabrication_france_rouge"></div>
    <div class="header_fabrication_france_made_in_france">made in france</div>
    <div class="header_gauche">
        <div class="header_gauche_image">
            <img class="header_gauche_image_kiposetou" src="./../../assets/images/LOGO_KIPOSETOU_pour_favicon1.png" alt="">
        </div>
        <div class="header_gauche_titre">
            KIPOSETOU MENUISERIE
        </div>
    </div>
    <div class="header_menu">
        <div class="header_menu_items"><a class="">Acceuil</a> </div>
        <div class="header_menu_items"><a class="">A propos</a> </div>
        <div class="header_menu_items"><a class="">Nos produits</a> </div>
        <div class="header_menu_items"><a class="">Nos réalisation</a> </div>
        <div class="header_menu_items"><a class="">Espace pro</a> </div>
        <div class="header_menu_items"><a class="">Blog</a> </div>
        <div class="header_menu_items"><a class="">Contact</a> </div>
    </div>

    <div class="header_droite">
        <div class="header_droite_bouton header_droite_bouton_projet">DÉCRIRE MON PROJET</div>
        <div class="header_droite_bouton header_droite_bouton_rappel">ÊTRE RAPPELÉ</div>
    </div>
</div>
