<div class="main">
    <div class="main_gauche">
        <div class="main_gauche_title">KIPOSETOU-menuiserie</div>
        <div class="main_gauche_logo"></div>
        <div class="main_gauche_autre"></div>
    </div>
    <div class="main_milieu">
        <div class="main_milieu_title">Nous contactez :</div>
        <div class="main_milieu_adresse-email">kiposetoumenuiserie@gmail.com</div>
        <div class="main_milieu_reseau">
            <div class="main_milieu_reseau_snap">
                <object class="main_milieu_reseau_snap_svg" type="image/svg+xml" data="./../../assets/images/icons-snapchat-30x30.svg" ></object>
    
            </div>
            <div class="main_milieu_reseau_instagram">
                <object class="main_milieu_reseau_instagram_svg" type="image/svg+xml" data="./../../assets/images/icons-instagram30x30.svg" ></object>
            </div>
            <div class="main_milieu_reseau_linkedIn">
                <object class="main_milieu_reseau_linkedIn_svg" type="image/svg+xml" data="./../../assets/images/icons-linkedin30x30.svg" ></object>
    
            </div>
        </div>
        
    </div>
    <div class="main_droite">
        <div class="main_droite_localisation">157, Boulevard haussmann 26500 Bourg-Les-Valence - France</div>
        <div class="main_droite_telephone">+33 1 45 45 67 67</div>
        <div class="main_droite_statut-entreprise">SARL</div>
    </div>
    <div class="main_haut-page">
    </div>
</div>
<div class="copy-rigth">© - CCR 2023 Tous droits réservés</div>