<div class="main2_block4_avis">
    <h2 class="main2_block4_avis_title"> Il nous font confiance</h2>
    <div class="main2_block4_avis_box">
        <div *ngFor="let commentaire of commentaires" class="main2_block4_avis_box_block avis1">
            <p class="main2_block4_avis_box_block_personne">{{commentaire.userName}}</p>
            <p class="main2_block4_avis_box_block_texte">{{commentaire.avis}}</p>
            <p class="main2_block4_avis_box_block_etoile">
                <img *ngFor="let _ of [].constructor(commentaire.nbEtoile); let i = index" class="etoile_avis" src="../assets/images/etoile.png"/>
                <!-- <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/> -->
            </p>
        </div>
        <!-- <div class="main2_block4_avis_box_block avis2">
            <p class="main2_block4_avis_box_block_personne">M.Raki</p>
            <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
            <p class="main2_block4_avis_box_block_etoile">
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
            </p>
        </div>
        <div class="main2_block4_avis_box_block avis3">
            <p class="main2_block4_avis_box_block_personne">M.Raki</p>
            <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
            <p class="main2_block4_avis_box_block_etoile">
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
            </p>
        </div>
        <div class="main2_block4_avis_box_block avis4">
            <p class="main2_block4_avis_box_block_personne">M.Raki</p>
            <p class="main2_block4_avis_box_block_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure animi distinctio dolore impedit error iste voluptatibus .</p>
            <p class="main2_block4_avis_box_block_etoile"> 
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
                <img class="etoile_avis" src="../assets/images/etoile.png"/>
            </p>
        </div> -->
        
    </div>
    <img class="fleche_droite_avis" src="../assets/images/fleche-vers-le-haut.png" (click)="tournerADroite()"/>
    <img class="fleche_gauche_avis" src="../assets/images/fleche-vers-le-haut.png" (click)="tournerAGauche()"/>
</div>
