<div class="main">
    <div class="main_title">Nos offres et services pour les pros</div>
    
    <div class="main_component">
        <div class="main_component_description">
            Nous vous proposons une équipe dédiée uniquement à la réalisation de vos chantiers en neuf et rénovation.
            Fourniture seule de tous types de produits liés à la menuiserie standard, lourde et haut de gamme :
        </div>
        <div class="main_component_container">
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Baies coulissantes </div>  <div class="main_component_container_item_element2">minimalistes </div></div>
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Gardes corps </div>  <div class="main_component_container_item_element2">tout en verre / acier / aluminium  </div> </div>
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Façade commerciale  </div>  <div class="main_component_container_item_element2"></div></div>
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Mur rideau </div>  <div class="main_component_container_item_element2"></div></div>
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Rideau de verre  </div>  <div class="main_component_container_item_element2"></div></div>
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Paravent  </div>  <div class="main_component_container_item_element2">télescopique</div></div> 
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Protection solaire  </div>  <div class="main_component_container_item_element2">tous types de store</div></div> 
            <div class="main_component_container_item"> <div class="main_component_container_item_element">  Pergolas   </div>  <div class="main_component_container_item_element2"></div></div>  
        </div>
    </div>
    <div class="main_mission">
        <p class="main_mission_paragraphe1">Notre mission : Vous accompagner dans la gestion sereine de votre chantier de menuiserie !</p>
        <p class="main_mission_paragraphe2">Notre offre et nos services s'adressent aux particuliers, architectes, constructeurs et propriétaires d'établissements.</p>
        <p class="main_mission_paragraphe3">Nos systèmes d'ouvertures sont d'une unique qualité qui s'intègrent parfaitement à
            vos espaces, les optimisent et les rendent plus <span style="font-weight: bolder;">esthétiques</span> .</p>
        <p class="main_mission_paragraphe4">Nous nous engageons à être un vecteur de légèreté ! Nous avons imaginé des
        services <span style="font-weight: bolder;">efficients</span> durant la durée des travaux.</p>
        <div class="main_mission_button"><a  class="main2_block3_button_devis" href="mailto:kiposetoumenuiserie@gmail.com?subject=Demande%20de%20Rappel%20menuiserie%20%5BNom%3BPr%C3%A9nom%5D&body=Bonjour%2C%20vos%20services%20m%27int%C3%A9resse%2C%20j%27ai%20envie%20d%27en%20savoir%20plus%2C%20pourriez-vous%20me%20rappeler%20au%2007%20XX%20XX%20XX%20XX%2E">être rappelé</a></div>
    </div>
    <div class="main_photo1"></div>
    <div class="main_photo2"></div>
    <div class="main_photo3"></div>
    <div class="main_background"></div>
    
</div>
