<div class="main">
    <div class="main_title">Nos offres et services pour les pros</div>
    
    <div class="main_component">
        <div class="main_component_container">
            <div class="main_component_container_item"> <span class="main_component_container_item_element">  Coulissant </span>  minimaliste</div>
            <div class="main_component_container_item"> <span class="main_component_container_item_element">  Cloison </span>   amovible</div>
            <div class="main_component_container_item"> <span class="main_component_container_item_element">  Extension </span>  à toiture plate</div>
            <div class="main_component_container_item"> <span class="main_component_container_item_element">  Façade </span>  commerciale</div>
            <div class="main_component_container_item"> <span class="main_component_container_item_element">  Certifications </span>  sur tous les matériaux</div>
            <div class="main_component_container_item"> <span class="main_component_container_item_element">  Equipe </span>  technique dédiée</div>  
        </div>
    </div>
    <div class="main_photo1"></div>
    <div class="main_photo2"></div>
    <div class="main_photo3"></div>
    <div class="main_background"></div>
    
</div>
