
@import "./../../vars.scss";
.title{
    position: relative;
    top: -90px;
    text-align: center;
    font-size: 2.5em;
}

.main{
    //background-color: aqua;
    position: relative;
    height: 90vh;
    display: flex;
    align-items: center;
    &_img{
        position: absolute;
        right: 97px;
        height: 577px;
        width: 757px;
        background-image: url("./../../assets/images/istockphoto-1362214275-1024x1024.jpg");
        background-size:cover;
    }
    &_container{
        position: absolute;
        left: 83px;
        display: flex;
        margin: auto;

        &_slider{
            // background-color: green;
            width: 50px;
            height: 440px;
            display: flex;
            align-items: center;
            &_container{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                // background-color: beige;
                height: 250px;
                width: 100%;
                margin: auto;
                &_div{
                    padding: 20px 10px;
                }
            }
        }
        &_position{
            position: relative;
            background-color: $main-color;
            width: 400px;
            height: 440px;
            overflow: hidden;
            border-radius: 5px;
            &_content{
                color: white;
                position: absolute;
                height: 440px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 5px;
                &_etape{
                    font-size: 1.2em;
                    font-weight: bolder;
                    text-align: center;
                }
                &_ligne{
                    align-self: center;
                    width: 170px;
                    height: 1px;
                    background-color: $main-bg-color;
                }
                &_etape-title{
                    margin-top: 40px;
                    font-size: 1.7em;
                    text-align: center;
                    font-weight: 400;
                }
                &_etape-description{
                    margin-top: 20px;
                    text-align: center;
                    margin-left: 40px;
                    margin-right: 40px;
                } 
            }
            
        }
    }
}

.cercle {
    width: 5px;
    height: 5px;
    border-radius: 20px;
    // border: 1px solid rgb(42, 56, 21);
    border: 1px solid $main-color;
}
.remplit{
    width: 10px;
    height: 10px;
    background-color:$main-color ;
}
.etape1{
    top: 0px;
}
.etape2{
    top: 440px;
}
.etape3{
    top: 880px;
}
.etape4{
    top: 1320px;
}


@media only screen and (max-width: 1000px) {
    .main_img{
        height: 498px;
        width: 544px;
    }

}
@media only screen and (max-width: 820px) {
    .main_img{
        right: 0px;
    }
    
    .main_container_position{
        width: 300px;
    }
    .main_container_slider{
        width: 30px;
    }

}

@media only screen and (max-width: 530px) {
    .title{
        //top: -10px;
        top: -73px;
        font-size: 2em;
    }
    .main_img{
        //display: none;
        z-index: 1;
        right: 50%;
        top: 5%;
        transform: translate(50%, -50%);
        height: 178px;
        width: 290px;
        background-position-x: -2px;
        background-position-y: -24px;
    }
    .main_container{
        position: initial;
    }
    .main_container_position{
        width: 250px;
        overflow: scroll;
    }
    .main_container_slider{
        display: none;
        // width: 5px;
        // background-color: aquamarine;
        // height: 0px;
    }
    .main_container_slider_container_div{
        padding: 20px 10px;
    }
    .main_container_position{
        width: 300px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 0.8em ;
    }
    .main_container_slider_container{
        display: none;
    }


}