
<div class="main">
    <div class="main_container">
        <div  class="main_container_slider">
            <div class="main_container_slider_container">
                <div class="cercle remplit">
                </div>
                <div class="cercle">
                </div>
                <div class="cercle">
                </div>
                <div class="cercle">
                </div>
                <div class="cercle">
                </div>
            </div>
        </div>
        <div class="main_container_position">
            <div  class="main_container_position_content etape1">
                <div class="main_container_position_content_etape">Lorem.</div>
                <div class="main_container_position_content_etape-title">Lorem ipsum dolor sit.</div>
                <div class="main_container_position_content_etape-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi accusamus rem architecto, officiis, soluta odio dignissimos in quos laborum quis corporis perspiciatis facere repellendus recusandae, expedita illo impedit enim!</div>
            </div>
            <div  class="main_container_position_content etape2">
                <div class="main_container_position_content_etape">Lorem.</div>
                <div class="main_container_position_content_etape-title">Lorem ipsum dolor sit.</div>
                <div class="main_container_position_content_etape-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi accusamus rem architecto, officiis, soluta odio dignissimos in quos laborum quis corporis perspiciatis facere repellendus recusandae, expedita illo impedit enim!</div>
            </div>
            <div  class="main_container_position_content etape3">
                <div class="main_container_position_content_etape">Lorem.</div>
                <div class="main_container_position_content_etape-title">Lorem ipsum dolor sit.</div>
                <div class="main_container_position_content_etape-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi accusamus rem architecto, officiis, soluta odio dignissimos in quos laborum quis corporis perspiciatis facere repellendus recusandae, expedita illo impedit enim!</div>
            </div>
            <div  class="main_container_position_content etape4">
                <div class="main_container_position_content_etape">Lorem.</div>
                <div class="main_container_position_content_etape-title">Lorem ipsum dolor sit.</div>
                <div class="main_container_position_content_etape-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut eligendi accusamus rem architecto, officiis, soluta odio dignissimos in quos laborum quis corporis perspiciatis facere repellendus recusandae, expedita illo impedit enim!</div>
            </div>
        </div>
        
    </div>
</div>


