<div class="realisation">
    <div class="realisation_block">
        <div class="realisation_block_titre">Nos Réalisations</div>
        <p class="realisation_block_decouvrir">Découvrez une sélection de projets de rénovation conçus et réalisés par
            nos équipes : rénovations totales, fenêtres, baies coulissantes, portails/portillons</p>
        <p class="realisation_block_decouvrir_button">
            <a href="#" class="realisation_block_decouvrir_button_link">découvrir</a>
        </p>
    </div>
    <div class="realisation_img_fenetre1">
        <img class="realisation_img_fenetre1_img1" src="./../../assets/images/chairs-ga282796ad_1280.jpg" alt="" />
    </div>
    <div class="realisation_img_fenetre2">
        <img class="realisation_img_fenetre2_img2" src="./../../assets/images/pexels-pixabay-259962.jpg" alt=""/>
    </div>
    
   
</div>
