
<!-- Toolbar -->
<div  role="banner">
<!-- <img src="../assets/pexels-leonardo-rossatti-2598638.jpg"> -->

  <img  class="logo" src="../assets/LOGO_KIPOSETOU.png"> 
  <div class="block1">

    <h1 class="titre"> Le site internet est en maintenance </h1>
    <h2 class="description"> Suivez notre actualité</h2>
    <div class="log_instagram">
      <a href="https://instagram.com/kiposetou_menuiserie?igshid=YmMyMTA2M2Y=">
        <p class="cliquez">Clicquez ici</p>
      </a>
      <a href="https://instagram.com/kiposetou_menuiserie?igshid=YmMyMTA2M2Y=">
        <img class="logo2" src="../assets/instagram.png" alt="">
      </a>
    </div>
  </div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
