<div class="main">
    <div class="main_title">Pourquoi choisir Kiposetou ?</div>
    <div class="main2_block3">
        <div class="main2_block3_numero">
            <div class="main2_block3_numero_box">
                <div class="numero_block"> <span class="number_span">1</span> </div>
                <div class="numero_text">Une équipe d'intervention interne à l'entreprise, polyvalente sur des projets en rénovation et neuf, tertiaire, commerces ou habitations individuelles et collectives</div> 
            </div>
            <div class="main2_block3_numero_box">
                <div class="numero_block"><span class="number_span">2</span></div>
                <div class="numero_text">Des solutions qui correspondent à <strong>vos besoins</strong> et à <strong>votre budget</strong>. Délai rapide : de par la fabrication de nos propres menuiseries nous assurons la maitrise des délais </div> 
            </div>
            <div class="main2_block3_numero_box">
                <div class="numero_block"><span class="number_span">3</span></div>
                <div class="numero_text">Des produits fabriqués dans nos ateliers, normés NF et au CSTB qui permettent une installation dans les règles de l'art conforme au DTU 36.5</div> 
            </div>
            <div class="main2_block3_numero_box">
                <div class="numero_block"><span class="number_span">4</span></div>
                <div class="numero_text">Venez visiter nos ateliers et soyez en immersion totale en assistant à la fabrication de vos menuiseries</div> 
            </div>
            <div class="main2_block3_numero_box">
                <div class="numero_block"><span class="number_span">5</span></div>
                <div class="numero_text">Une offre adressée aux particuliers et aux professionnels pour la fourniture et la pose de vos menuiseries ou bien uniquement de la vente</div> 
            </div>
            <div class="main2_block3_numero_box">
                <div class="numero_block"><span class="number_span">6</span></div>
                <div class="numero_text">Fabrication express : sur demande ou en cas de situation urgente nous sommes dans la capacité de fabriquer vos menuiseries et d'intervenir dans les 24h suivants votre demande d'intervention .  Ex : cambriolage, fermeture urgente de chantier, retard de chantier</div> 
            </div>
         </div>  
         <div class="main2_block3_button">
            <a href="#" class="main2_block3_button_devis">DEMANDER UN DEVIS</a>
        </div>
    </div>
</div>