<div class="main2">
    <div class="main2_container_proposer">
        Ce que nous vous proposons
    </div>
    <div class="main2_container_icon">
        <div class="main2_container_icon_fenetre">
            <img class="icon" src="./../../assets/images/la-fenetre.png" alt=""/>
            <p class="sous_icon">Des produits adaptés à tous vos projets</p>
            <img class="sous_icon_plus"  src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
            <p class="sous_icon_texte">Selon votre budget, vos besoins et vos attentes : une maison individuelle,
                une maison d'architecte, du logement collectif, des bâtiments tertiaires et
                industriels. Tous vos projets seront réalisés !</p>
        </div>
        
        <div class="main2_container_icon_outils">
            <img class="icon"  src="./../../assets/images/outils.png" alt=""/>
            <p class="sous_icon">Un avant/après qui vous change la vie</p>
            <img class="sous_icon_plus" src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
            <div class="sous_icon_texte">
                <div>
                    <p>Forte affluence routière ? → Optez pour un vitrage phonique !</p>
                    <p>Anciennes fenêtres ? → Bénéficiez des meilleurs coefficients thermiques ! </p>
                    <p>Vis-à-vis ? → Restez en toute intimité avec nos gammes de vitrages imprimés !</p>
                </div>
            </div>
        </div>
        <div class="main2_container_icon_localisation">
            <img class="icon" src="./../../assets/images/carte-france.png" alt=""/>
            <p class="sous_icon">Des équipes qui se déplacent sur l'ensemble du territoire</p>
            <img class="sous_icon_plus" src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
            <p class="sous_icon_texte"> Nous travaillons principalement sur les régions
                Auvergne-Rhône-Alpes et PACA mais nous restons également
                disponibles sur l’ensemble du territoire français !</p>
        </div>
        
    </div>
</div>