<div class="main2">
    <div class="main2_container_proposer">
        Ce que nous vous proposons
    </div>
    <div class="main2_container_icon">
        <div class="main2_container_icon_fenetre">
            <img class="icon" src="./../../assets/images/la-fenetre.png" alt=""/>
            <p class="sous_icon">Un produit haut-de-gamme</p>
            <img class="sous_icon_plus"  src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
            <p class="sous_icon_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, debitis eum neque illum tempora dolorem in. Nesciunt necessitatibus modi, ratione aliquam repellendus, ea dolorem veniam perferendis excepturi officia reprehenderit. </p>
        </div>
        
        <div class="main2_container_icon_outils">
            <img class="icon"  src="./../../assets/images/outils.png" alt=""/>
            <p class="sous_icon">Une installation qui vous change la vie</p>
            <img class="sous_icon_plus" src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
            <p class="sous_icon_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, debitis eum neque illum tempora dolorem in. Nesciunt necessitatibus modi, ratione aliquam repellendus, ea dolorem veniam perferendis excepturi officia reprehenderit. </p>
        </div>
        <div class="main2_container_icon_localisation">
            <img class="icon" src="./../../assets/images/broche-de-localisation.png" alt=""/>
            <p class="sous_icon">Des experts locaux et expérimentés</p>
            <img class="sous_icon_plus" src="./../../assets/images/plus.png" alt="" width="35px" (click)="clickButton($event)"/> <!-- (click)="clickButton($event)"/> -->
            <p class="sous_icon_texte">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis fugit, debitis eum neque illum tempora dolorem in. Nesciunt necessitatibus modi, ratione aliquam repellendus, ea dolorem veniam perferendis excepturi officia reprehenderit. </p>
        </div>
        
    </div>
</div>
