//Template 1
// $main-bg-color: #214a82;
// $main-color: #ffffff;
// $bouton1-bg-color : #000000;
// $border1-color : #ffffff;
// $bouton1-color : #ffffff;

//Template 2
// $main-bg-color: #ffffff;
// $main-color: #214a82;
// $bouton1-bg-color : #214a82;
// $border1-color : #000000;
// $bouton1-color : #ffffff;

//Template 3
$main-bg-color: #ffffff;
$main-color: #000000;
$bouton1-bg-color : #000000;
$border1-color : #000000;
$bouton1-color : #ffffff;
