<div class="main">
    <h2 class="main_title"> Un titre</h2>
    <div class="main_block">
        <div class="main_block_image">
            <div class="main_block_image_fix">
                <div class="main_block_image_fix_lunette"></div>
                <div class="main_block_image_fix_moving">
                    <div class="main_block_image_fix_moving_avant">
                        <img class="main_block_image_fix_moving_avant_img" src="./../../assets/images/AVANT1_compressed.jpg" alt="Image par défaut">
                    </div>
                    <div class="main_block_image_fix_moving_apres">
                        <img class="main_block_image_fix_moving_apres_img" src="./../../assets/images/APRES1_compressed.jpg" alt="Image par défaut">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block_description">
            <div class="main_block_description_texte">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, unde beatae consectetur officiis maiores, ullam pariatur aliquid quasi, rerum eaque blanditiis sequi quae recusandae a enim quibusdam quos obcaecati expedita.
Repellendus aut quis autem odio voluptatem eos veritatis? Veritatis soluta, sequi eligendi, neque consequatur nesciunt, modi ratione labore praesentium maiores quasi suscipit. Sit quasi nam labore nemo reiciendis asperiores a!
            </div>
        </div>
    </div>
</div>
<div class="main">
    <h2 class="main_title"> Un titre</h2>
    <div class="main_block">
        <div class="main_block_image">
            <div class="main_block_image_fix">
                <div class="main_block_image_fix_lunette"></div>
                <div class="main_block_image_fix_moving">
                    <div class="main_block_image_fix_moving_avant">
                        <img class="main_block_image_fix_moving_avant_img" src="./../../assets/images/AVANT1_compressed.jpg" alt="Image par défaut">
                    </div>
                    <div class="main_block_image_fix_moving_apres">
                        <img class="main_block_image_fix_moving_apres_img" src="./../../assets/images/APRES1_compressed.jpg" alt="Image par défaut">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block_description">
            <div class="main_block_description_texte">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, unde beatae consectetur officiis maiores, ullam pariatur aliquid quasi, rerum eaque blanditiis sequi quae recusandae a enim quibusdam quos obcaecati expedita.
Repellendus aut quis autem odio voluptatem eos veritatis? Veritatis soluta, sequi eligendi, neque consequatur nesciunt, modi ratione labore praesentium maiores quasi suscipit. Sit quasi nam labore nemo reiciendis asperiores a!
            </div>
        </div>
    </div>
</div>
<div class="main">
    <h2 class="main_title"> Un titre</h2>
    <div class="main_block">
        <div class="main_block_image">
            <div class="main_block_image_fix">
                <div class="main_block_image_fix_lunette"></div>
                <div class="main_block_image_fix_moving">
                    <div class="main_block_image_fix_moving_avant">
                        <img class="main_block_image_fix_moving_avant_img" src="./../../assets/images/AVANT1_compressed.jpg" alt="Image par défaut">
                    </div>
                    <div class="main_block_image_fix_moving_apres">
                        <img class="main_block_image_fix_moving_apres_img" src="./../../assets/images/APRES1_compressed.jpg" alt="Image par défaut">
                    </div>
                </div>
            </div>
        </div>
        <div class="main_block_description">
            <div class="main_block_description_texte">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Impedit, unde beatae consectetur officiis maiores, ullam pariatur aliquid quasi, rerum eaque blanditiis sequi quae recusandae a enim quibusdam quos obcaecati expedita.
Repellendus aut quis autem odio voluptatem eos veritatis? Veritatis soluta, sequi eligendi, neque consequatur nesciunt, modi ratione labore praesentium maiores quasi suscipit. Sit quasi nam labore nemo reiciendis asperiores a!
            </div>
        </div>
    </div>
</div>
