<div class="main">
    <div class="main_block">
        <div class="main_block_image">
            <div class="main_block_image_avant">
                <img class="main_block_image_avant_img" src="./../../assets/images/AVANT1_compressed.jpg" alt="Image par défaut">
            </div>
            <div class="main_block_image_apres">
                <img class="main_block_image_apres_img" src="./../../assets/images/APRES1_compressed.jpg" alt="Image par défaut">
            </div>
        </div>
        <div class="main_block_description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, beatae! Voluptatibus illo deserunt quis iste, non dolorem incidunt accusamus ea sit voluptate voluptates delectus maxime, minus ipsa consequuntur necessitatibus cumque.</div>
    </div>
</div>